html {
    background-color: blanchedalmond;
    font-family: 'Cabin', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
