.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
}


.App-header {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  line-height: 1px;
}

.App-header > p {}

.App-header > p > a {
  text-decoration: none;
  color: white;
}


.App-footer {
  border-top: 1px solid white;
  color: white;
}
